*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 960px;
}

.box-header{
    background: #ADD8E6;
    width: 960px;
    height: 40px;
    display: flex;
    text-align: center;

}