*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em 1em;
}

.section{
    padding: 4rem 0; 
}

.bg-grey{
    background: #D3D3D3;
}

.bg-jumbotron{
    background: blue;

}

.d-flex{
    display: flex;
}
.col{
    background-color: #FFC0CB;
    padding: 3rem 1rem;
    flex-grow: 1;
    min-height: 350px;
    
}

.col-large{
    background-color: #1E90FF;
    flex-grow: 2;
}

.pink-square{
    background: pink;
    width: 600px;
    height: 300px;
    margin: auto;
    border: 2px solid black;
    
}

.square-green{
    background-color: green;
    width: 800px;
    height: 600px;
    margin: auto;
    padding: 3rem;
}

.bg-black{
    background: #4F4F4F;
}

#special{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;

}

